:root {
  --primary-color: #499fa4;
  --secondary-color: #13344c;
}

.multistep .nav-item button {
  color: var(--secondary-color) !important;
  background: none !important;
  padding: 0.6em 1em;
  border: 1px solid var(--secondary-color);
  border-radius: 100%;
  margin-bottom: 2em;
}

.multistep .nav-item button.active {
  color: white !important;
  background: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
